<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Wine Quality Assessment Form</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/view.css') }}" media="all">
<script type="text/javascript" src="{{ url_for('static', filename='js/view.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/calendar.js') }}"></script>
</head>
<body id="main_body" >
	
	<img id="top" src="{{ url_for('static', filename='img/top.png') }}" alt="">
	<div id="form_container">
	
		<h1><a>Wine Quality Assessment Form</a></h1>
		<form id="form_45045" class="appnitro"  method="post" action="/process">
					<div class="form_description">
			<h2>Wine Quality Assessment Form</h2>
			<p>Provide details about the wine.</p>
		</div>						
		<ul >
			
		<li id="li_1" >
			<label class="description" for="element_1">Fixed Acidity</label>
			<div>
				<input id="element_1" name="fixed_acidity" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_1"><small>Fixed Acidity</small></p> 
		</li>

		<li id="li_2" >
			<label class="description" for="element_2">Volatile Acidity</label>
			<div>
				<input id="element_2" name="volatile_acidity" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_2"><small>Volatile Acidity</small></p> 
		</li>		
		
		<li id="li_3" >
			<label class="description" for="element_2">Citric Acid</label>
			<div>
				<input id="element_2" name="citric_acid" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_2"><small>Citric Acid</small></p> 
		</li>
		
		<li id="li_4" >
			<label class="description" for="element_2">residual sugar</label>
			<div>
				<input id="element_2" name="residual_sugar" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_2"><small>residual sugar</small></p> 
		</li>
<!-- "fixed acidity";"volatile acidity";"citric acid";"residual sugar";"chlorides";"free sulfur dioxide";"total sulfur dioxide";"density";"pH";"sulphates";"alcohol";"quality" -->
		
		<li id="li_6" >
			<label class="description" for="element_2">chlorides</label>
			<div>
				<input id="element_2" name="chlorides" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_2"><small>chlorides</small></p> 
		</li>
		
		<li id="li_7" >
			<label class="description" for="element_2">free sulfur dioxide</label>
			<div>
				<input id="element_2" name="free_sulfur_dioxide" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_2"><small>free sulfur dioxide</small></p> 
		</li>

		<li id="li_8" >
			<label class="description" for="element_2">total sulfur dioxide</label>
			<div>
				<input id="element_2" name="total_sulfur_dioxide" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_2"><small>total sulfur dioxide</small></p> 
		</li>

		<li id="li_9" >
			<label class="description" for="element_2">Density</label>
			<div>
				<input id="element_2" name="density" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_2"><small>density</small></p> 
		</li>
		
		<li id="li_10" >
			<label class="description" for="element_2">pH</label>
			<div>
				<input id="element_2" name="pH" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_2"><small>pH</small></p> 
		</li>

		<li id="li_11" >
			<label class="description" for="element_2">Sulphates</label>
			<div>
				<input id="element_2" name="sulphates" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_2"><small>sulphates</small></p> 
		</li>

		<li id="li_12" >
			<label class="description" for="element_2">alcohol</label>
			<div>
				<input id="element_2" name="alcohol" class="element text small" type="text" maxlength="255" value=""/> 
			</div><p class="guidelines" id="guide_2"><small>alcohol</small></p> 
		</li>
		<li class="buttons">
			<input id="saveForm" class="button_text" type="submit" name="submit" value="Submit" />
		</li>
		</ul>
		</form>	
	</div>
	<img id="bottom" src="{{ url_for('static', filename='img/bottom.png') }}" alt="">
	</body>
</html>